@charset "UTF-8";
@font-face {
  font-family: "AMX";
  src: url("  https://www.claro.com.pe/assets/havas/general/fonts/AMXClaro-Brands.eot?")
      format("eot"),
    url("  https://www.claro.com.pe/assets/havas/general/fonts/AMXClaro-Brands.woff2")
      format("woff2"),
    url("  https://www.claro.com.pe/assets/havas/general/fonts/AMXClaro-Brands.woff")
      format("woff"),
    url("  https://www.claro.com.pe/assets/havas/general/fonts/AMXClaro-Brands.ttf")
      format("truetype"),
    url("  https://www.claro.com.pe/assets/havas/general/fonts/AMXClaro-Brands.svg#AMX")
      format("svg");
}
@font-face {
  font-family: "AMX-Regular";
  src: url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Regular.eot?")
      format("eot"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Regular.woff2")
      format("woff2"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Regular.woff")
      format("woff"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Regular.ttf")
      format("truetype"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Regular.svg#AMX-Regular")
      format("svg");
  font-display: swap;
}
@font-face {
  font-family: "AMX-Medium";
  src: url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Medium.eot?")
      format("eot"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Medium.woff2")
      format("woff2"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Medium.woff")
      format("woff"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Medium.ttf")
      format("truetype"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Medium.svg#AMX-Medium")
      format("svg");
  font-display: swap;
}
@font-face {
  font-family: "AMX-Bold";
  src: url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Bold.eot?")
      format("eot"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Bold.woff2")
      format("woff2"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Bold.woff")
      format("woff"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Bold.ttf")
      format("truetype"),
    url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Bold.svg#AMX-Bold")
      format("svg");
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

#loom-companion-mv3 {
  display: none;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

section {
  padding: 50px 0;
}

body.scrollhidden {
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #888888;
    mix-blend-mode: multiply;
  }
}

section.zona1 {
  .title {
    h2 {
      color: #000;
      text-align: center;
      font-family: AMX;
      font-size: 32px;
      font-weight: 700;
    }
    p {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      padding-top: 15px;
    }
  }
  .filtros {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 22px;
    .part1 {
      display: flex;
      gap: 22px;
      align-items: start;
      width: 100%;
    }
    .item.filtro {
      max-width: 263px;
      width: 100%;
      position: relative;
      .contentInpur {
        position: relative;
        &::before {
          content: "";
          background-image: url(assets/flechainput.svg);
          background-size: 100%;
          background-repeat: no-repeat;
          position: absolute;
          right: 13px;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 10px;
        }
      }
      p {
        color: #000;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 5px;
      }
      select {
        width: 100%;
        padding: 10px 15px;
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        border-radius: 10px;
        border: 1px solid #91979e;
        appearance: none;
        padding-right: 33px;
        &:focus {
          border: 1px solid #91979e;
          outline: none;
        }
        option {
          color: #000;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 600;
        }
      }
      form {
        position: relative;
        width: 262px;
        button {
          position: absolute;
          border: none;
          background-color: transparent;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          cursor: pointer;
        }
        input {
          width: 100%;
          padding: 10px 15px;
          padding-left: 45px;
          border-radius: 10px;
          border: 1px solid #91979e;
          color: #000;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          &::placeholder {
            color: #91979e;
          }
          &:focus {
            border: 1px solid #91979e;
            outline: none;
          }
        }
      }
      .anuncio {
        display: none;
      }
    }
    .anuncio {
      display: none;
    }
    .quitarfiltro {
      display: none;
      align-items: center;
      gap: 6px;
      padding: 8px 16px;
      border-radius: 10px;
      background: #f6f6f6;
      margin-top: 24px;
      cursor: pointer;
      white-space: nowrap;
      p {
        color: #000;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        pointer-events: none;
      }
      svg {
        pointer-events: none;
      }
      &.mostrar {
        display: flex;
      }
    }
  }

  .anuncio {
    position: relative;
    margin-top: 17px;
    padding: 17px 34px;
    border-radius: 10px;
    background: linear-gradient(90deg, #da291c 0%, #f65041 100%);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 30px;
      background-image: url("assets/flecha.svg");
      width: 20px;
      height: 10px;
    }
    p {
      color: #fff;
      font-family: "AMX-Regular";
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
      display: none;
      b {
        font-family: AMX;
      }
      a {
        color: #fff;
        font-family: AMX;
        font-size: 20px;
        text-decoration-line: underline;
      }
      &.mostrar {
        display: block;
      }
    }
    .close {
      cursor: pointer;
      svg {
        pointer-events: none;
      }
    }
    &.ocultar {
      display: none;
    }
  }
  .bajada {
    margin-top: 20px;
    p {
      text-align: center;
      color: #797a7c;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
    }
    &.noActive {
      display: none;
    }
  }
  .sinCanal {
    margin-top: 60px;
    display: none;
    h3 {
      margin-bottom: 25px;
      color: #000;
      text-align: center;
      font-family: AMX;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      color: #5f6368;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
    }
    &.active {
      display: block;
    }
  }
  .contentCanales {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 23px;
    row-gap: 20px;
    margin-top: 25px;
    .itemCanal {
      cursor: pointer;
    }
  }
  .paginacion {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    display: none;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      &.prev {
        svg {
          transform: rotate(180deg);
        }
      }
      &.disable {
        filter: grayscale(1);
      }
    }
    div {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 7px;
    }
    &.active {
      display: flex;
    }
  }
}

.itemCanal {
  border-radius: 15px;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  padding: 20px 15px;
  position: relative;
  &:hover {
    border: 1px solid #da291c;
    box-shadow: 0px 0px 15px 0px rgba(219, 0, 0, 0.2);
    .part2 {
      button {
        opacity: 1;
      }
    }
  }
  .part1 {
    width: 70px;
    flex-shrink: 0;
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .part2 {
    padding-right: 40px;
    .title {
      color: #000;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
    }
    .canales {
      display: flex;
      gap: 6px;
      padding-top: 5px;
      align-items: start;
      .tipo {
        color: #fff;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 600;
        width: 20px;
        height: 20px;
        background-color: #4f4f4f;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      .numeros {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3px;
        color: #5f6368;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 18px;
      opacity: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

section.paquetesPrepium {
  background-color: #f9f9f9;
  h2 {
    color: #000;
    text-align: center;
    font-family: AMX;
    font-size: 32px;
    font-weight: 700;
  }
  .contentTabs {
    overflow-x: auto;
    display: flex;
  }
  .tabs {
    display: flex;
    align-items: stretch;
    margin-top: 32px;
    margin: 0 auto;
    div {
      width: 350px;
      padding: 23px 35px;
      color: #838383;
      font-family: AMX;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-bottom: 3px solid #d9d9d9;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      &.active {
        color: #283342;
        border-bottom: 4px solid #da291c;
      }
    }
  }
  .contentFa {
    height: 0;
    overflow: hidden;
    .contentSlider {
      margin-top: 40px;
      .slick-slide {
        margin: 0 10px;
      }
      .item {
        border-radius: 10px;
        border: 1px solid #da291c;
        padding: 12px;
        cursor: pointer;
        p {
          color: #000;
          text-align: center;
          font-family: "AMX-Regular";
          font-size: 18px;
          font-weight: 700;
          pointer-events: none;
        }
        span {
          display: block;
          color: #000;
          text-align: center;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          pointer-events: none;
        }
        &.active {
          background-color: #da291c;
          p,
          span {
            color: #fff;
          }
        }
      }
      .slick-next:before {
        content: "";
        background-image: url(assets/flechaSlider.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 38px;
        height: 38px;
      }
    }
    &.active {
      height: auto;
    }
  }
}

.contentCards {
  height: 0;
  overflow: hidden;
  &.active {
    height: auto;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
  height: 0;
  overflow: hidden;
  &.active {
    padding: 13px 0;
    height: auto;
    margin-top: 50px;
  }
  .itemCanal {
    max-width: 265px;
    width: 100%;
    position: relative;
    &:hover {
      border: 1px solid #f4f4f4;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }
    .nuevo {
      position: absolute;
      color: #fff;
      background-color: #ffad17;
      text-align: center;
      font-family: AMX;
      font-size: 10px;
      font-weight: 700;
      text-align: center;
      width: 60px;
      padding: 4px 0;
      border-radius: 0 0 7px 7px;
      left: 20px;
      top: -6px;
    }
  }
}

section.popupInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  display: none;
  &.active {
    display: block;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .content {
    background-color: #fff;
    max-width: 560px;
    border-radius: 20px;
    width: 100%;
    position: relative;
    padding: 45px 40px;
    .top {
      position: absolute;
      top: 20px;
      right: 20px;
      svg {
        cursor: pointer;
      }
    }
    .contentImagen {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      img {
        max-width: 137px;
        width: 100%;
      }
      p {
        color: #5f6368;
        text-align: center;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 700;
      }
    }
    .tipoServicio {
      color: #fff;
      background-color: #da291c;
      width: 100%;
      text-align: center;
      font-family: AMX;
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
      border-radius: 10px;
      margin-top: 20px;
    }
    table {
      width: 100%;
      margin-top: 15px;
      border-collapse: separate;
      border-spacing: 10px 15px;
      td.blanco {
        background-color: #fff;
      }
      tr {
        td {
          text-align: center;
          border-radius: 10px;
          background-color: #f4f4f4;
          padding: 10px 11px;
        }
        td.categoria,
        td.subcategoria {
          color: #fff;
          text-align: center;
          font-family: AMX;
          font-size: 18px;
          font-weight: 700;
          border-radius: 10px;
          background-color: #000;
        }
        td.subcategoria {
          min-width: 40px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  section.zona1 .contentCanales {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1280px) {
  section.popupInfo .content .contentImagen img {
    max-width: 100px;
  }
  section.popupInfo .content {
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  .itemCanal .part2 {
    padding-right: 0px;
  }
  .itemCanal:hover .part2 button {
    opacity: 0;
  }
  .itemCanal:hover {
    border: 1px solid #f4f4f4;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1100px) {
  section.zona1 .contentCanales {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  section.zona1 .filtros .item.filtro form {
    width: 230px;
  }
}

.quitarfiltro.tablet {
  display: none !important;
}

@media (max-width: 900px) {
  section.zona1 .anuncio {
    display: none;
  }
  section.zona1 .filtros {
    flex-direction: column;
  }
  section.zona1 .filtros .anuncio {
    display: flex;
    margin-top: 0;
    &.ocultar {
      display: none;
    }
  }
  section.zona1 .anuncio .close svg {
    width: 16px;
    height: 15px;
  }
  section.zona1 .filtros .item.filtro.form {
    max-width: 100%;
    form {
      width: 100%;
    }
  }
  .quitarfiltro.desktop {
    display: none !important;
  }
  .quitarfiltro.tablet {
    display: none !important;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0 !important;
  }
  .quitarfiltro.tablet.mostrar {
    display: flex !important;
  }
}

@media (max-width: 768px) {
  section.paquetesPrepium .contentFa .container {
    width: 95%;
  }
  section.zona1 .filtros {
    margin-top: 30px;
  }
  section.zona1 .filtros {
    flex-direction: column;
  }
  section.zona1 .contentCanales {
    column-gap: 18px;
    row-gap: 20px;
  }
  section.zona1 .anuncio p {
    font-size: 16px;
  }
  .itemCanal .part1 {
    width: 60px;
  }
  .itemCanal .part2 .title {
    font-size: 14px;
  }
  section.paquetesPrepium .tabs div {
    font-size: 20px;
  }
  section.zona1 .anuncio p a {
    font-size: 16px;
  }
  section.popupInfo .content .contentImagen img {
    max-width: 80px;
  }
  section.popupInfo .content {
    max-width: 400px;
  }
  section.popupInfo .content .contentImagen p {
    font-size: 20px;
  }
  section.popupInfo .content .tipoServicio,
  section.popupInfo .content table tr td {
    font-size: 16px !important;
  }
  section.popupInfo .content {
    padding: 45px 30px;
  }
}

@media (max-width: 650px) {
  section.zona1 .contentCanales {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 13px;
  }
  section.zona1 .contentCanales .itemCanal {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
  section.paquetesPrepium .contentFa .contentSlider .item p {
    font-size: 14px;
  }
  section.paquetesPrepium .contentFa .contentSlider .item span {
    font-size: 12px;
  }
  .itemCanal {
    padding: 15px;
  }
  section.zona1 .title h2 {
    font-size: 24px;
  }

  section.zona1 .filtros .part1 {
    flex-direction: column;
  }
  section.zona1 .filtros .item.filtro,
  section.zona1 .filtros .item.filtro form {
    max-width: 100%;
    width: 100%;
  }
  section.zona1 .filtros .anuncio {
    display: none;
  }
  section.zona1 .filtros .item.filtro .anuncio {
    display: flex;
    padding: 17px 18px;
    margin-top: 17px;
    p {
      color: #fff;
      font-family: "AMX-Regular";
      font-size: 14px;
      font-weight: 400;
    }
    a {
      font-size: 14px;
    }
  }
  section.paquetesPrepium .tabs div {
    padding: 18px 13px;
  }
  section.popupInfo .content .contentImagen img {
    max-width: 60px;
  }
  section.popupInfo .content .tipoServicio,
  section.popupInfo .content table tr td {
    font-size: 14px !important;
  }
}
